.board{
    width: min(65vw, 45rem);
    height: min(65vw, 45rem);
    display: flex;
    flex-direction: column;
}

.board .row{
    flex: 1;
    width: 100%;
    display: flex;
}

.board .square{
    flex: 1;
    border: .1px solid var(--square-border);
    background-color: var(--square-background);
    background-size: cover;
}

.board-wrapper h1{
    --header-padding: 1rem;
    --header-heigth: 4rem;
    padding: var(--header-padding);
    height: var(--header-heigth);
    text-align: center;
}

