
.board{
    width: min(90vw, 50rem);
    height: min(90vw, 50rem);
    display: flex;
    flex-direction: column;
    position: relative;
}

.hidden{
    display: none;
}

.board .row{
    flex: 1;
    width: 100%;
    display: flex;
}

.board .square{
    flex: 1;
    border: .1px solid var(--background);
    background-color: var(--text);
    background-size: cover;
}

.board-wrapper h1{
    --header-padding: 2rem;
    --header-heigth: 1rem;
    padding: var(--header-padding);
    height: var(--header-height);
    text-align: center;
}

