@import url('./header.css');
@import url('./entryPage.css');
@import url('./board.css');
@import url('./playerVsPlayer.css');
@import url('./endGame.css');
@import url('./difficulty.css');

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Medium.ttf');
    font-weight: normal;
    unicode-range: U+0025-00FF;
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Bold.ttf');
    font-weight: bold;
    unicode-range: U+0025-00FF;
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Light.ttf');
    font-weight: 100;
    unicode-range: U+0025-00FF;
    font-display: swap;
}

*, *::before, *::after{
    box-sizing: border-box;
}

:root.light{
    --red: #FF0000;
    --green: #97BE5A;
    --text: #040316;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dddbff;
    --accent: #443dff;
    --square-background: #fbfbfe;
    --square-border: #010104ee;
}

:root.dark{
    --red: #FF0000;
    --green: #97BE5A;
    --text: #eae9fc;
    --background: #19191a;
    --primary: #3a31d8;
    --secondary: #3a3a3e;
    --accent: #0600c2;
    --square-background: #eae9fc;
    --square-border: #010104ee;
}

body{
    font-family: 'inter', Roboto, Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

